<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tenneco.tennecoapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Schedule.ScheduleActivity"></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Lines.AddEditLineActivity" />
        <activity
            android:name=".Daily.DailyActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="0c552c8fef2e3cf000ee66cd92be99d2d402ac39" />

        <activity android:name=".PlantsActivity" />
        <activity
            android:name=".Plants.PlantsActivity"
            android:label="@string/title_activity_plants"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Plants.AddEditPlantActivity" />
        <activity
            android:name=".Lines.ConfigLineActivity"
            android:label="@string/title_activity_config_line"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tenneco.tennecoapp.MainActivity" />
        </activity>
        <activity android:name=".Report.ReportActivity" />
        <activity
            android:name=".Templates.TemplatesActivity"
            android:label="@string/title_activity_templates"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tenneco.tennecoapp.MainActivity" />
        </activity>
        <activity
            android:name=".Graphics.GraphicActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>